* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --arena: rgb(238, 213, 183);
  --tronco: #E9967A;
  --hojas: rgb(20, 136, 20);
  --mar: #0097a7;
  --blanco: #ffffff;
  --coco: #964c01;
}

body {
  background-image: linear-gradient(to top, var(--mar) 0%, var(--blanco) 70% );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.isla {
  width: 340px;
  height: 150px;
  background-color: var(--arena);
  border-radius: 150px 150px 0px 0px;
  position: relative;
}

.palmera {
  position: absolute;
  width: 40px;
  height: 26vh;
  background-color: var(--tronco);
  bottom: 55%;
  border-radius: 65% / 100%;
}


.hoja-left {
  width: 20%;
  height: 8vh;
  background-color: var(--hojas);
  position: absolute;
  bottom: 80%;
  left: 30%;
  border-radius: 0 50% / 0 100%;
  border: 3px solid #555;
}

.hoja-right {
  width: 20%;
  height: 8vh;
  background-color: var(--hojas);
  position: absolute;
  bottom: 80%;
  right: 30%;
  border-radius: 50% 0 / 100% 0;
  border: 3px solid #555;
}

.hoja-down--left {
  width: 18%;
  height: 7vh;
  background-color: var(--hojas);
  position: absolute;
  bottom: 74%;
  left: 32%;
  border-radius: 100% 0 / 100% 0;
  border: 3px solid #555;
}

.hoja-down--right {
  width: 18%;
  height: 7vh;
  background-color: var(--hojas);
  position: absolute;
  bottom: 74%;
  right: 32%;
  border-radius: 0 100% / 0 100%;
  border: 3px solid #555;
}

.coco-one {
  width: 6vh;
  height: 6vh;
  background-color: var(--coco);
  position: absolute;
  border-radius: 50px;
  bottom: 73%;
  left: 50%;
}

.coco-two {
  width: 6vh;
  height: 6vh;
  background-color: var(--coco);
  position: absolute;
  border-radius: 50px;
  bottom: 73%;
  right: 50%;
}

.coco-three {
  width: 6vh;
  height: 6vh;
  background-color: #703c08;
  position: absolute;
  border-radius: 50px;
  bottom: 69.8%;
  margin-left: 0.5%;
}

.sol {
  width: 70px;
  height: 60px;
  background-color: yellow;
  position: absolute;
  border-radius: 100%;
  bottom: 90%;
  right: 280px;
}